@use "sass:math";
@import url(https://fonts.googleapis.com/css?family=Inter:,300,regular,600.700);

:root {
	--bg-light: #dcdcdc;
	--bg-dark: #403f3f;
	--color-light: #000;
	--color-dark: #fff;
	--bg-chat-light: #fff;
	--bg-chat-dark: #343435;
	--color-chat-actions-light: rgb(128, 128, 128);
	--color-chat-actions-dark: #fff;
	--color-message-name-light: #0D082C;
	--color-message-name-dark: rgba(255, 255, 255, 0.7);
	--color-message-time-light: rgba(13, 8, 44, 0.4);
	--color-message-time-dark: #fff;
	--color-message-date-light: #000;
	--color-message-date-dark: #fff;
	--color-btn-change-theme-light: rgb(20, 17, 34);
	--color-btn-change-theme-dark: #ffffff;
	--bg-button-light: #575DFB;
	--bg-button-dark: #575dfbb4;
	--bg-button-disabled-light: #575dfbfb;
	--bg-button-disabled-dark: #575dfb42;
}

// Percent
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}

// EM
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}

// REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

$fontFamily: "Inter";
$fontSize: rem(16);

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* :focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
} */
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: #{$fontSize + px};
}
html,
body {
	height: 100%;
	min-width: rem(320);
}
body {
	line-height: 1;
	font-family: $fontFamily;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/
// -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
// Убирает отображение нажатия

#root {
	width: 100%;
	height: 100vh;
}

.wrapper {
	width: 100%;
	height: 100vh;
	background-color: var(--bg-light);
	overflow: hidden;
	&.dark {
		background-color: var(--bg-dark);
	}
}

.btn-change-theme {
	position: absolute;
	top: rem(10);
	left: rem(20);
	font-size: rem(28);
	cursor: pointer;
	width: rem(45);
	height: rem(45);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-btn-change-theme-light);
	transition: all 0.3s ease 0s;
	@media(any-hover : hover){
		&:hover {
			background-color: rgba(255, 255, 255, 0.623);
		}
	}
	&.dark {
		color: var(--color-btn-change-theme-dark);
	}
}

.chat {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__container {
		width: rem(450);
	}
}


.chat-login {
	padding: rem(35);
	background-color: var(--bg-chat-light);
	color: var(--color-light);
	border-radius: rem(8);
	&.dark {
		background-color: var(--bg-chat-dark);
		color: var(--color-dark);
		.chat-login__button {
			background-color: var(--bg-button-dark);
			&:disabled {
				background-color: var(--bg-button-disabled-dark);
			}
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__title {
		letter-spacing: -0.011em;
		font-size: rem(32);
		line-height: rem(24);
		color: #575DFB;
		font-weight: bold;
		margin-bottom: rem(25);
	}
	&__text {
		letter-spacing: -0.011em;
		font-size: rem(18);
		line-height: rem(26);
		margin-bottom: rem(30);
	}
	&__input {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: rem(25);
	}
	&__name {
		margin-bottom: rem(6);
		letter-spacing: -0.011em;
		font-size: rem(16);
		line-height: rem(24);
	}
	&__row {
		position: relative;
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: rem(15);
		transform: translate(0, -50%);
	}
	&__field {
		width: 100%;
		height: rem(56);
		border: 2px solid#575DFB;
		border-radius: rem(16);
		padding-left: rem(45);
		font-weight: 600;
		font-size: rem(16);
		line-height: rem(24);
		letter-spacing: -0.011em;
		&:focus {
			outline: none;
		}
		&.unvalidate {
			border-color: #B00020;
		}
	}
	&__validate {
		color: #B00020;
		margin-top: rem(5);
		font-weight: 600;
	}
	&__button {
		height: rem(56);
		width: 100%;
		background-color: var(--bg-button-light);
		border-radius: rem(16);
		letter-spacing: -0.011em;
		font-size: rem(16);
		line-height: rem(24);
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		&:disabled {
			background-color: var(--bg-button-disabled-light);
		}
	}
}



.chat-app {
	height: rem(600);
	display: flex;
	flex-direction: column;
	border-radius: rem(8);
	background-color: var(--bg-chat-light);
	overflow: hidden;
	position: relative;
	&.dark {
		background-color: var(--bg-chat-dark);
		.message__date {
			color: var(--color-message-date-dark);
		}
		.message__time {
			color: var(--color-message-time-dark);
		}
	}
	&__top {
		background-color: #534d71;
		padding: rem(20) rem(30);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__name {
		font-weight: bold;
		font-size: rem(18);
		color: #fff;
	}
	&__icons {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__user {
		display: flex;
		align-items: center;
		gap: rem(20);
	}
	&__logout {
		font-size: rem(18);
		line-height: rem(20);
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		color: #fff;
		@media(any-hover : hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__field {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		gap: rem(35);
		padding: rem(30);
		padding-bottom: rem(10);
		overflow-y: auto;
		overflow-x: hidden;
		margin-right: rem(3);
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.284);
			border-radius: rem(10);
			transition: all 1s ease 0s;
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0, 0, 0, 0.54);
			transition: all 1s ease 0s;
			cursor: pointer;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
	
	}
	&__actions {

	}
}

.chat-actions {
	flex: 0 0 rem(80);
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	padding: 0 rem(35);
	color: var(--color-chat-actions-light);
	&.dark {
		color: var(--color-chat-actions-dark);
	}
	&__form {
		height: 100%;
		display: flex;
		align-items: center;
		gap: rem(20);
	}
	&__emojis {
		font-size: rem(24);
		cursor: pointer;
	}
	&__textinput {
		flex: 1 1 auto;
		input {
			color: inherit;
			background-color: transparent;
			&:focus {
				outline: none;
			}
		}
	}
	&__images {
		position: relative;
		font-size: rem(22);
		height: rem(22);
		width: rem(22);
		overflow: hidden;
	}
	&__file {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 4;
		opacity: 0;
		&::-webkit-file-upload-button {
			cursor: pointer;
		}
	}
	&__submit {
		position: relative;
		background-color: #4629F2;
		height: rem(40);
		width: rem(40);
		border-radius: 50%;
		input {
			height: rem(40);
			width: rem(40);
			border-radius: 50%;
			background-color: transparent;
			cursor: pointer;
			position: relative;
			z-index: 4;
		}
	}
	&.dark {
		.chat-actions__submit {
			background-color: transparent;
		}
		.chat-actions__textinput input::placeholder {
			color: var(--color-chat-actions-dark);
		}
	}
	&__arrow {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


.message {
	display: inline-flex;
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(5);
	}
	&__data {
		max-width: rem(300);
		display: flex;
		flex-direction: column;
		border-radius: 0 0 rem(10) rem(10);
		justify-content: center;
	}
	&__text {
		padding: rem(10) rem(15);
	}
	&__date {
		color: var(--color-message-date-light);
		display: flex;
		justify-content: center;
		margin-bottom: rem(20);
		font-size: rem(14);
	}
	&__time {
		color: var(--color-message-time-light);
		font-size: rem(14);
		line-height: rem(18);
	}
	&__images {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: rem(1);
	}
	&__image {
		max-height: rem(350);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
		}
	}
}

.personal-message {
	justify-content: flex-end;
	&__data {
		background-color: #4629F2;
		color: #fff;
		border-top-left-radius: rem(10);
	}
	&__images {
		border-radius: rem(10) 0 rem(10) rem(10);
		&:not(:last-child) {
			border-radius: rem(10) 0 0 0;
		}
	}
}

.other-message {
	justify-content: flex-start;
	&__name {
		font-size: rem(16);
		line-height: rem(20);
		font-weight: 600;
		color: var(--color-message-name-light);
	}
	&__data {
		background-color: #F1F7FF;
		color: #fff;
		border-top-right-radius: rem(10);
		color: #0D082C;
	}
	&__images {
		border-radius: 0 rem(10) rem(10) rem(10);
		&:not(:last-child) {
			border-radius: 0 rem(10) 0 0;
		}
	}
	&__time {
		align-self: flex-end;
	}
	&.dark {
		.other-message__name {
			color: var(--color-message-name-dark);
		}
	}
}


.add-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	padding-top: rem(80);
	background-color: rgba(255, 255, 255, 0.247);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	&__wrapper {
		width: 100%;
		margin: rem(30) rem(35);
		padding: rem(20) rem(25);
		border-radius: rem(16);
		background-color: #282e33;
		color: #65b5e0;
		overflow: hidden;
	}
	&__title {
		font-size: rem(20);
		font-weight: bold;
		margin-bottom: rem(20);
	}
	&__images {
		width: 100%;
		max-height: rem(235);
		overflow: auto;
		margin-bottom: rem(20);
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #7d8084;
			border-radius: rem(10);
			transition: all 1s ease 0s;
		}
		&::-webkit-scrollbar-thumb:hover {
			// background-color: rgba(0, 0, 0, 0.54);
			transition: all 1s ease 0s;
			cursor: pointer;
		}
	}
	&__image {
		width: 100%;
		max-height: rem(215);
		overflow: hidden;
		margin-bottom: rem(2);
		position: relative;
		&:first-child {
			border-radius: rem(8) rem(8) 0 0;
		}
		&:last-child {
			border-radius: 0 0 rem(8) rem(8);
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__input {
		margin-bottom: rem(20);
	}
	&__text {
		font-weight: bold;
		margin-bottom: rem(15);
	}
	&__textinput {
		width: 100%;
		height: rem(40);
		padding-left: rem(8);
		border: 2px solid #65b5e0;
		border-radius: rem(8);
		&:focus {
			outline: none;
		}
	}
	&__operations {
		position: absolute;
		top: rem(8);
		right: rem(8);
		background-color: #a9a9a9;
		padding: rem(5) rem(8);
		border-radius: rem(5);
	}
	&__operation {
		color: #fff;
		font-size: rem(12);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
.add-image-actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__category {
		display: flex;
		align-items: center;
		gap: rem(20);
	}
	&__item {
		padding: rem(8) rem(10);
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		@media(any-hover : hover){
			&:hover {
				background-color: #313b43;
			}
		}
		&_add input {
			display: none;
		}
	}
	&__label {
		cursor: pointer;
	}
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.692);
	&__image {
		object-fit: cover;
		max-width: 100%;
		max-height: 100%;
	}
	&__close {
		position: absolute;
		right: rem(20);
		top: rem(20);
		width: rem(32);
		height: rem(32);
		opacity: 0.4;
		transition: all 0.3s ease 0s;
		@media(any-hover : hover){
			&:hover {
				opacity: 1;
			}
		}
		&::before,
		&::after {
			content:'';
			position: absolute;
			width: rem(2);
			height: rem(33);
			left: rem(15);
			background-color: #fff;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
}